<plist version="1.0">
<dict>
<key></key>
<array>
<dict>
<key></key>
<array>
<dict>
<key></key>
<string>software-package</string>
<key>url</key>
<string>https://github.com/quanpeifeng420563670/iostest/blob/master/app.ipa</string>
</dict>
<dict>
<key></key>
<string></string>
<key></key>
<true/>
<key>url</key>
<string>https://github.com/quanpeifeng420563670/iostest/blob/master/100x100.png</string>
</dict>
</array>
<key></key>
<dict>
<key></key>
<string></string>
<key></key>
<string></string>
<key></key>
<string></string>
<key></key>
<string></string>
<key>title</key>
<string>iosApptest</string>
</dict>
</dict>
</array>
</dict>
</plist>
